In [1]:
import re

import pandas as pd
import numpy as np

from bs4 import BeautifulSoup
from lxml import html
import requests

In [2]:
movies_url_p1 = 'https://www.imdb.com/list/ls022298534/'
movies_url_p2 = 'https://www.imdb.com/list/ls022298534/?page=2'
movies_url_p3 = 'https://www.imdb.com/list/ls022298534/?page=3'
movies_df = pd.read_csv('../movies_dubbed.csv')
content1 = ''
content2 = ''
content3 = ''

In [3]:
movies_df.head()

                 film  dubbed
0  american history x   False
1    bicentennial man   False
2              casinò   False
3   good will hunting   False
4               crash   False

In [4]:
# response1 = requests.get(movies_url_p1)
# response2 = requests.get(movies_url_p2)
# response3 = requests.get(movies_url_p3)


# soup = BeautifulSoup(response.content, 'html.parser')

# list = soup.body.find_all('h3', 'lister-item-header')
# list = soup.body.descendants.h3('lister-item-header')

In [5]:
# if response1.status_code == 200 and response2.status_code == 200 and response3.status_code == 200:
#     print('Success!')
#     content1 = response1.content.decode('utf-8').lower()
#     content2 = response2.content.decode('utf-8').lower()
#     content3 = response3.content.decode('utf-8').lower()
# else:
#     print('An error has occurred')

In [6]:
with open('./url1.html') as f:
    content1 = f.read().lower()

with open('./url2.html') as f:
    content2 = f.read().lower()

with open('./url3.html') as f:
    content3 = f.read().lower()

In [7]:
for index, row in movies_df.iterrows():
    if (content1.find(row['film']) != -1 or 
        content2.find(row['film']) != -1 or 
        content3.find(row['film']) != -1
        ):

        movies_df.loc[index, 'dubbed'] = True

In [8]:
movies_df

                               film  dubbed
0                american history x   False
1                  bicentennial man   False
2                            casinò   False
3                 good will hunting   False
4                             crash    True
5                        antichrist   False
6                  bicentennian man   False
7               million dollar baby   False
8                my life without me   False
9                        the others   False
10                   cinderella man   False
11                finding neverland   False
12         intelligenza artificiale   False
13                        the hours   False
14                             saw3   False
15                     notting hill   False
16                     falling down   False
17                   the impossible   False
18                     side effects   False
19                             hook   False
20                      poltergeist    True
21                              saw   False
22                        atonement   False
23               million dolar baby   False
24            l'uomo che sussurrava   False
25               dancer in the dark   False
26                 a beautiful mind   False
27              the lives of others   False
28                      patch adams   False
29                   meet joe black   False
30  la vida secreta de las palabras   False
31                  the interpreter   False
32                       the reader   False
33                       fligthplan   False
34                  the sixth sense   False
35                     pretty woman   False
36                         big fish   False
37                     philadelphia   False
38                     mystic river   False
39                        joe black   False
40              lost in translation   False
41                 matrimonio greco   False
42               brokeback mountain   False
43                          titanic    True
44            the devil wears prada    True

In [9]:
movies_df.loc[movies_df.dubbed == True]

                     film  dubbed
4                   crash    True
20            poltergeist    True
43                titanic    True
44  the devil wears prada    True

In [10]:
movies_df.to_csv('../movies_dubbed.csv', mode='w', index=False, sep=',')